.t3s {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

@media (max-width: 1199px) {
  #easy-menu > ul > li {
    padding: 0 11px; } }

@media (max-width: 991px) {
  .row-eq-rs-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .home-one-header .topbar-area {
    display: none; }
  .topbar-contact-info {
    display: none; }
  .topbar {
    min-height: 60px; }
    .topbar .logo {
      margin-left: auto;
      margin-right: auto; }
  .what-wedo-image-verticle {
    padding-bottom: 60px; }
  .what-wedo-image-verticle > .image {
    display: none; }
  .copyright-area {
    text-align: center; }
    .copyright-area .footer-menu {
      text-align: center; }
  .get-started-text {
    text-align: center; }
  .get-started-button {
    text-align: center; }
  .desktop-menu {
    display: none !important; }
  .mobile-menu {
    display: block; }
  .mobile-background-nav {
    display: block; }
  .team-member {
    max-width: 100%; }
  .gallery-grid-two .grid-item {
    width: 50%;
    height: auto; }
    .gallery-grid-two .grid-item img {
      width: 100%;
      height: auto; }
  .gallery-grid-two .grid-another-width {
    width: 100%; }
  .kalkulate-map-location-informatrion .kalkulate {
    width: 100%;
    float: none;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .blog-item {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
    .blog-item .image img {
      width: 100%; }
  .topbar-two {
    text-align: center; }
  .topbar-social-icons {
    text-align: center; }
  .tag-and-share {
    display: block; }
  .tag-and-share .tag-list {
    margin-bottom: 0; }
  .tag-and-share .social-share {
    margin-bottom: 50px; }
  .grid-item {
    width: 50%; }
  .our-product-information .single {
    width: 29%;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    display: inline-block;
    margin-bottom: 30px; }
  .our-product-information {
    display: block; }
  .product-name-thumb,
  .product-name-thumb > div {
    display: block; }
  .product-name-thumb .item-name {
    font-size: 17px;
    font-weight: 400; }
  .product-name-thumb .item-photo {
    padding: 0 0 15px 0; } }

@media (max-width: 480px) {
  .panel-heading a {
    padding-left: 0; }
    .panel-heading a:before {
      display: none; }
  .single-counter .text {
    margin-left: 80px; }
  .single-counter .counter {
    font-size: 28px; }
  .section-heading h2 {
    font-size: 38px; }
  .slider-button .kal-button {
    min-width: 200px;
    border-width: 1px !important;
    padding: 5px 20px !important;
    font-size: 14px;
    margin-top: 20px; }
  .uranus.tparrows {
    display: none; }
  .slider-title:before, .slider-title:after {
    width: 80px; }
  .slider-title:before {
    left: -100px; }
  .slider-title:after {
    right: -100px; }
  .error-text .error-404 {
    font-size: 155px;
    line-height: 155px;
    margin-bottom: 0; }
  .sidebar {
    padding: 30px 20px 0 20px; }
  .widget-most-commented .image img {
    width: 100%; }
  .comment-list ol {
    padding-left: 60px; }
  .our-product-information .single {
    width: 100%;
    display: block; }
  .banner-area {
    padding-bottom: 100px;
    padding-top: 104px; }
  .shop-tab .nav-tabs li a {
    font-size: 17px;
    padding: 9px 16px; } }

@media (max-width: 375px) {
  .blog-style-one {
    padding: 35px 15px 23px 15px; }
  .kalkulate-map-location-informatrion {
    padding: 20px 15px; }
  #mapContainer {
    height: 200px; }
  .gallery-filter {
    padding-bottom: 38px; }
  .grid-item {
    width: 100%; } }
