
$white:#fff;
$full-black:#000000;
$black: #1e1e27;
$black2: #747474;

$bcolor:#5a596a;
$base:#1490d7;
$border:#ebebeb;
$ash-white:#f7f8fa;
$ash-white2:#e4e4e4;


$gray:#c3c3c3;


$ash:#fafafa;
$yellow:#ffc600;
$red:#ff6d6d;

$cyan:#4bbfcb;
$orange:#f39a24;
$lime-green:#82c484;


$rel:'Raleway', sans-serif;
$pop:'Poppins', sans-serif;

.t3s{
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}
